.header-link {
  @apply text-gray-700 dark:text-gray-300 transition-all duration-300 relative;
}

.header-link:hover {
  @apply text-blue-500 dark:text-blue-400;
  text-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 15px #3b82f6;
}

.header-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-0.5 bg-blue-500 transform scale-x-0 transition-transform duration-300 origin-bottom-right;
}

.header-link:hover::after {
  @apply transform scale-x-100 origin-bottom-left;
  box-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 15px #3b82f6;
}
