<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300"
    [ngClass]="{'bg-gray-100/80 dark:bg-gray-800/80 backdrop-blur-sm': showHeaderContent(), 'bg-transparent': !showHeaderContent()}">
    <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center space-x-2 transition-opacity duration-300"
            [ngClass]="{'opacity-0 invisible': !showHeaderContent(), 'opacity-100 visible': showHeaderContent()}">
            <span class="text-xl font-bold text-gray-900 dark:text-white">Cristian López</span>
            <fa-icon [icon]="faLaptopCode" [size]="'lg'" class="text-gray-700 dark:text-gray-300"></fa-icon>
            <fa-icon [icon]="faCode" [size]="'lg'" class="text-gray-700 dark:text-gray-300"></fa-icon>
            <fa-icon [icon]="faAngular" [size]="'xl'" class="text-gray-700 dark:text-gray-300"></fa-icon>
            <span class="text-xl font-bold text-gray-900 dark:text-white">Developer</span>
        </div>
        <ul class="flex space-x-4 transition-opacity duration-300 items-center"
            [ngClass]="{'opacity-0 invisible': !showHeaderContent(), 'opacity-100 visible': showHeaderContent()}">
            <li><a routerLink="/" routerLinkActive="text-blue-500" [routerLinkActiveOptions]="{exact: true}"
                    class="header-link">{{ 'HEADER.HOME' | translate }}</a></li>
            <li><a (click)="scrollToSection('about')" class="header-link cursor-pointer">{{ 'HEADER.ABOUT' | translate
                    }}</a></li>
            <li><a (click)="scrollToSection('projects')" class="header-link cursor-pointer">{{ 'HEADER.PROJECTS' |
                    translate }}</a></li>
            <li><a routerLink="/news" routerLinkActive="text-blue-500" class="header-link">{{ 'HEADER.NEWS' | translate
                    }}</a></li>
            <li><a (click)="scrollToSection('contact')" class="header-link cursor-pointer">{{ 'HEADER.CONTACT' |
                    translate }}</a></li>
            <li><a routerLink="/resume" routerLinkActive="text-blue-500" class="header-link">{{ 'HEADER.RESUME' |
                    translate }}</a></li>
        </ul>
        <div class="flex items-center space-x-4">
            <a [href]="getResumeUrl()" download class="header-link flex items-center space-x-1">
                <span>{{ 'HEADER.DOWNLOAD_RESUME' | translate }}</span>
                <fa-icon [icon]="faFileDownload"></fa-icon>
            </a>
            <!-- Language toggle button -->
            <button (click)="toggleLanguage()"
                class="p-2 rounded-full bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300 transition-colors duration-300">
                {{ currentLang === 'en' ? 'ES' : 'EN' }}
            </button>
            <!-- Dark mode toggle button -->
            <button (click)="darkModeService.toggleDarkMode()"
                class="p-2 rounded-full bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300 transition-colors duration-300">
                @if (isDarkMode) {
                <!-- Sun icon for dark mode -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                } @else {
                <!-- Moon icon for light mode -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                </svg>
                }
            </button>
        </div>
    </nav>
</header>