<div id="about" class="max-w-4xl mx-auto px-4 py-8">
    <h2 class="text-4xl font-bold mb-8 text-center font-mono">{{ 'ABOUT.TITLE' | translate }}</h2>
    <div class="flex flex-col md:flex-row items-center gap-8">
        <div class="md:w-1/2 mb-8 md:mb-0"> <!-- Added mb-8 for mobile spacing -->
            <p class="text-lg leading-relaxed">{{ 'ABOUT.DESCRIPTION' | translate }}</p>
        </div>
        <div class="md:w-1/2">
            <div class="solar-system">
                <div class="sun">
                    <img [src]="'assets/icons/' + centralLogo.icon" 
                         [alt]="centralLogo.name"
                         [style.width]="centralLogo.size"
                         [style.height]="centralLogo.size">
                </div>
                @for (logo of techLogos(); track logo.name) {
                <div class="orbit" [style.animation-duration]="logo.animationDuration">
                    <div class="planet" [style.transform]="'rotate(' + logo.startPosition + ')'">
                        <img [src]="'assets/icons/' + logo.icon" 
                             [alt]="logo.name"
                             [style.width]="logo.size"
                             [style.height]="logo.size">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>