<section class="intro-section h-screen relative overflow-hidden border-t border-b"
    [ngClass]="{'border-white': !isDarkMode, 'border-gray-800': isDarkMode}">
    <div class="relative z-10 flex items-center justify-center h-full bg-opacity-50 bg-black">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4 text-white">
                {{ 'INTRO.TITLE' | translate }}
            </h1>
            <p class="text-xl text-gray-200">
                {{ 'INTRO.DESCRIPTION' | translate }}
            </p>
        </div>
    </div>
</section>