<div class="min-h-screen" [ngClass]="{
       'bg-white text-gray-900 border-white': !isDarkMode, 
       'bg-gray-900 text-white border-gray-800': isDarkMode
     }">
  <app-header [isDarkMode]="isDarkMode" (toggleDarkMode)="toggleDarkMode()"></app-header>

  <app-intro [isDarkMode]="isDarkMode" class="mb-8"></app-intro>

  <main class="container mx-auto px-4">
    <router-outlet></router-outlet>
    <app-skills [isDarkMode]="isDarkMode"></app-skills>
    <app-projects></app-projects>
  </main>
</div>