<div id="experience" class="container mx-auto px-4 sm:px-6 lg:px-8 py-8" [class.py-12]="!showTeaser">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl font-bold text-center font-mono mb-8">
            {{ 'RESUME.TITLE' | translate }}
        </h2>

        <div class="relative">
            <!-- Timeline stem -->
            <div class="absolute left-1/2 transform -translate-x-1/2 w-1 h-full bg-gray-200 dark:bg-gray-700"></div>

            <!-- Experience cards -->
            @for (exp of displayedExperiences; track exp.id; let i = $index) {
            <div #experienceCard class="experience-card mb-16 flex justify-between items-center w-full"
                [class.flex-row-reverse]="i % 2 !== 0">
                <div class="w-5/12"></div>
                <div class="z-20 flex flex-col items-center">
                    <div class="w-12 h-12 bg-red-600 rounded-full flex items-center justify-center">
                        <span class="text-sm text-white font-bold">{{ getYear(exp.startDate) }}</span>
                    </div>
                </div>
                <div class="w-5/12 p-6 rounded-lg shadow-lg bg-red-950/80 transition-all duration-500">
                    <h3 class="text-xl font-bold text-red-400 mb-1">{{ exp.role }}</h3>
                    <h4 class="text-lg font-semibold text-gray-200 mb-1">{{ exp.company }}</h4>
                    <p class="text-sm font-medium text-gray-300 mb-3">{{ exp.startDate }} - {{
                        exp.endDate }}</p>
                    <p class="text-gray-200 mb-4 italic">{{ exp.description }}</p>
                    <ul class="list-disc list-inside text-sm text-gray-200">
                        @for (task of exp.tasks; track task) {
                        <li class="mb-1">{{ task }}</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

        @if (showTeaser) {
        <div class="flex justify-center">
            <button (click)="navigateToFullResume()" 
                    class="glow-button">
                {{ 'RESUME.VIEW_MORE' | translate }}
            </button>
        </div>
        }
    </div>
</div>