<div class="home">
    <div class="container mx-auto py-8 px-6">
        <div class="home-content">
            <div class="home-content__inner flex flex-col md:flex-row items-center max-w-4xl w-full mx-auto">
                <div class="md:w-1/2 md:pr-8">
                    <h1 class="text-4xl font-bold mb-4 font-mono">{{ 'HOME.GREETING' | translate }}</h1>
                    <p class="text-2xl whitespace-nowrap">
                        <app-typewriter [strings]="technologies" class="inline-block"></app-typewriter>
                    </p>
                    <p class="text-lg mt-2">
                        {{ 'HOME.DESCRIPTION' | translate}}
                    </p>
                    <div class="mt-8 flex items-center space-x-4">
                        <a href="#contact"
                            class="glow-button">
                            {{ 'HOME.BUTTON.CONTACT' | translate }}
                        </a>
                        <a [href]="getLinkedInUrl()" target="_blank" rel="noopener noreferrer"
                            class="social-icon">
                            <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-7 h-7" />
                        </a>
                        <a href="https://github.com/CristianLS5" target="_blank" rel="noopener noreferrer"
                            class="social-icon">
                            <img src="assets/icons/github.svg" alt="GitHub" class="w-7 h-7" />
                        </a>
                    </div>
                </div>
                <div class="md:w-1/2 mt-8 md:mt-0">
                    <div class="photo">
                        <div class="photo__container">
                            <img ngSrc="assets/images/photo-home.jpg" width="400" height="533"
                                [alt]="'Profile photo of Cristian'" priority />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-about></app-about>
        <app-skills class="mt-16"></app-skills>
        <app-projects id="projects"></app-projects>
        <app-contact id="contact"></app-contact>
    </div>
</div>