<div class="typewriter-container">
    <span class="bracket">[</span>
    <span class="hidden md:inline">
        <ngx-typed-writer [strings]="getTexts()" [typeSpeed]="50" [backSpeed]="30" [loop]="true" [cursorChar]="'|'"
            [showCursor]="true">
        </ngx-typed-writer>
    </span>
    <span class="md:hidden">
        <ngx-typed-writer [strings]="getMobileTexts()" [typeSpeed]="50" [backSpeed]="30" [loop]="true"
            [cursorChar]="'|'" [showCursor]="true">
        </ngx-typed-writer>
    </span>
    <span class="bracket">]</span>
</div>